@inherits LayoutComponentBase
@inject MainLayoutViewModel ViewModel
@using System.ComponentModel
@implements IDisposable

<div class="page">
    @if (ViewModel.IsVisible)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private async void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ViewModel.IsVisible))
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnViewModelPropertyChanged;
        ViewModel.Dispose();
    }
}