@inherits LayoutComponentBase
@inject MainLayoutViewModel ViewModel
@using System.ComponentModel
@implements IDisposable

<div class="page">
    @if (ViewModel.IsVisible)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        @try
        {
            <article class="content px-4">
                @Body
            </article>
        }
        catch (Exception e)
        {
            <div class="m-2 p-2">
                <h3 class="text-danger">Ocorreu um erro ao renderizar a página.</h3>
                <p><strong>Exceção:</strong> @e.Message</p>
                <p><strong>Stack Trace:</strong></p>
                <pre>@e.StackTrace</pre>
            </div>
        }
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private async void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(ViewModel.IsVisible))
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnViewModelPropertyChanged;
        ViewModel.Dispose();
    }
}