@inject HeaderViewModel ViewModel
@using System.ComponentModel
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SisCras</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable h-100" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="familias">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Famílias
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-auto">
            @if (!ViewModel.IsTecnicoLoggedIn)
            {
                <button class="btn btn-secondary w-100" @onclick="GoToLogin">Fazer login</button>
            }
            else
            {
                <div class="d-flex flex-column" id="dados_tecnico">
                    <div class="p-1 bg-secondary">
                        <span class="bg-success">@ViewModel.Tecnico?.Nome</span>
                    </div>
                    <div class="p-1 bg-secondary">
                        <span class="bg-success">@ViewModel.Tecnico?.CrasInfo.Nome</span>
                    </div>
                    <button class="btn btn-outline-danger w-100 mt-2"
                            @onclick="@ViewModel.LogoutTecnicoCommand.Execute">Logout
                    </button>
                </div>
            }
        </div>
    </nav>

</div>

@code {
    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += OnViewModelPropertyChanged;
    }

    private void GoToLogin()
    {
        ViewModel.GoToLogin();
    }

    private async void OnViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        // Força a re-renderização do componente
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnViewModelPropertyChanged;
    }
}
