@page "/"
@inject PaginaTestesViewModel ViewModel

<button @onclick="ViewModel.BuscarFamiliasCommand.ExecuteAsync">Clique</button>

@if (ViewModel.Usuario != null)
{
    <p>@ViewModel.Usuario.Nome</p>
    <p>@ViewModel.Usuario.Id</p>
}

@code {

}